.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background-color: #1e1e2f;
    padding: 3rem 2rem;
    margin: 4rem auto;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(255, 105, 180, 0.2);
    color: #61dafb;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .music-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #ff233d;;
    text-shadow: 0 0 10px #d000ffaa;
  }
  
  .music-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #a0f8ff;
  }
  
  .react-player {
    border-radius: 15px;
    overflow: hidden;
    max-width: 50%;
    aspect-ratio: 16 / 9;
  }
  