.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #383a3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align content to the top */
  padding: 20px;
  flex: 1;
}

.Navbar {
  width: 100%;
  position: relative;
  top: 0;
}
/* Footer Styles */
.footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: absolute; /* Fixes the footer to the bottom */
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center; /* Center the content */
  flex-direction: column; /* Stack the content vertically */
  align-items: center; /* Center items horizontally */
  padding-bottom: 20px;
}

.footer-content div {
  margin: 10px 0; /* Space between sections */
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}

.footer a {
  color: #61dafb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Ensure the page is full height to push the footer to the bottom */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* Ensure the main content takes up the remaining space */
  
}
